@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body {
  position: relative;
}

body *::-moz-selection {
  background: rgba(60, 47, 77, 0.795);
}

body *::selection {
  background: rgba(60, 47, 77, 0.795);
}

.lock {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 10px 30px;
  text-transform: uppercase;
  background: #9b61bd;
  border: none;
  border-radius: 2px;
  color: #eeeeee;
  letter-spacing: 2px;
  border: 1px solid #8c50af;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.btn:hover {
  background: #8c50af;
}

.title {
  font-size: 32px;
  color: #eeeeee;
  font-weight: 500;
  line-height: 30px;
}

.header {
  width: 100%;
  height: 60px;
  background: rgba(27, 27, 27, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
}

.header__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 80px;
}

.header__logo img {
  width: 100%;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li {
  margin: 0px 20px 0px 0px;
}

.header__link {
  color: #eeeeee;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.header__link::before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link:hover {
  color: #c893e7;
}

.header__link:hover:before {
  width: 100%;
  left: 0;
  background: #9b61bd;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(76, 38, 105, 0.5)), to(rgba(64, 24, 83, 0.5))), url("https://wallpapershome.ru/images/pages/pic_h/12589.jpg");
  background-image: -o-linear-gradient(bottom, rgba(76, 38, 105, 0.5), rgba(64, 24, 83, 0.5)), url("https://wallpapershome.ru/images/pages/pic_h/12589.jpg");
  background-image: linear-gradient(to top, rgba(76, 38, 105, 0.5), rgba(64, 24, 83, 0.5)), url("https://wallpapershome.ru/images/pages/pic_h/12589.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  max-width: 830px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  text-align: center;
}

.hero__descr {
  font-size: 26px;
  color: #eeeeee;
  text-align: center;
  margin: 30px 0 20px 0;
}

.about {
  padding: 80px 0;
  background: #0c0c0c;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  padding: 0px 0px 0px 50px;
  min-width: 250px;
  min-height: 250px;
}

.about__img img {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 250px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 10px;
}

.about__text_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eeeeee;
  padding: 0 30px;
  line-height: 18px;
}

.about__descr {
  margin: 30px 0px 30px 0px;
}

.about-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/**
@media (min-width: 992px){
   &:hover{

   }
}
*/

@media (max-width: 767px) {
  .header__links {
    background: #dddddd;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    z-index: 100;
  }

  .header__links-active {
    left: 0%;
    top: 0;
  }

  .header__links ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
    width: 100%;
    height: 100%;
  }

  .header__links ul li {
    margin: 0px 0px 50px 0px;
  }

  .header__nav-active {
    left: 0;
  }

  .header__link {
    font-size: 24px;
    color: #272727;
    font-weight: 400;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 100;
  }

  .burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }

  .burger::before,
  .burger::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }

  .burger:before {
    top: 0;
  }

  .burger:after {
    bottom: 0;
  }

  .burger-active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #272727;
    top: 9px;
  }

  .burger-active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #272727;
    bottom: 9px;
  }

  .burger-active span {
    opacity: 0;
    background-color: #272727;
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__img {
    padding: 0px 0px 0px 0px;
    max-width: 400px;
    margin: 0px 0px 40px 0px;
  }

  .about__text_content {
    padding: 0px 0px 0px 0px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 28px;
    line-height: 28px;
  }

  .hero__descr {
    font-size: 22px;
  }

  .about {
    padding: 40px 0;
  }

  .about__text_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.webp .hero{ background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(76, 38, 105, 0.5)), to(rgba(64, 24, 83, 0.5))), url(https://wallpapershome.ru/images/pages/pic_h/12589.webp); }

.webp .hero{ background-image: -o-linear-gradient(bottom, rgba(76, 38, 105, 0.5), rgba(64, 24, 83, 0.5)), url(https://wallpapershome.ru/images/pages/pic_h/12589.webp); }

.webp .hero{ background-image: linear-gradient(to top, rgba(76, 38, 105, 0.5), rgba(64, 24, 83, 0.5)), url(https://wallpapershome.ru/images/pages/pic_h/12589.webp); }